{% extends 'base.html' %}

{% block title %}
About
{% endblock %}
{% block js %}

{% endblock  %}
{% block content %}
<div class="zerogrid" >
  	<div class="row zeromod01">
	    <div class="col-3-4"><div class="wrap-col">
	      <h2 class="inset__1">About Idea</h2>

			<img src="../static/images/show_data2.png" class="imgcc" alt="">

			<h4 class="inset__1">For Student</h4>
	      <p class="color1" > Develop a platform to help students find a field of study based on the subjects they have studied and other students' subject</p>
			<p class="color1">Predict the student's ability to pass the exams based on student demographics and VLE activities</p>
			<p class="color1">Opportunity to truly engage the user in an interactive recommendation system</p>
			
			<img src="../static/images/show_data3.png" class="imgcc2" alt="">
			
			<h4 class="inset__1">For Teacher</h4>
	      <p class="color1" > Helping educational institutions in terms of staff and students is easy, predicting future data reduces education difficulties and helps to develop future plans for education policy</p>
			<p class="color1">Helps teachers and managers to monitor students in order to provide support to them and to integrate the training programs to obtain the best results</p>
			<p class="color1">Reduces the official warning signs as well as expelling students because of their inefficiency</p>

	      <a href="#" class="link-1">more</a>
	      <div class="clear"></div>
	    </div></div>
    </div>
  </div>
{% endblock %}