{% extends 'base.html' %}
{% block title %}
staff
{% endblock %}


{% block js %}

{% endblock %}

{% block content %}

<!--=====================
          Content
======================-->
<section id="content" class="inset__1">
  <div class="zerogrid">
  	<div class="row">
	    <div class="col-1-2"><div class="wrap-col">
	      <div class="block-2">
	        <div class="col-1-2"><div class="pad03"><img src="../static/images/yanghong.jpg" alt=""></div></div>
	        <div class="col-1-2 extra_wrapper">
	          <h4 class="color1"><a href="#">Hong Yang</a></h4>
	          <p class="color1">"Do not go gentle into that good night"</p>

	        </div>
	      </div>
	    </div></div>
	    <div class="col-1-2"><div class="wrap-col">
	      <div class="block-2">
	        <div class="col-1-2"><div class="pad03"><img src="../static/images/Chau%20Foto.JPG" alt=""></div></div>
	        <div class="col-1-2 extra_wrapper">
	          <h4 class="color1"><a href="#">Chau Le</a></h4>
	          <p class="color1">"Code is not just a set of instructions, it's a language that brings ideas to life." </p>

	        </div>
	      </div>
	    </div></div>
    </div>
    <div class="row">
	    <div class="col-1-2"><div class="wrap-col">
	      <div class="block-2">
	        <div class="col-1-2"><div class="pad03"><img src="../static/images/zaid.jpg" alt=""></div></div>
	        <div class="col-1-2 extra_wrapper">
	          <h4 class="color1"><a href="#">Zaid A.R Abdulmohsin</a></h4>
	          <p class="color1">"If your ship doesn't come in, swim out to meet it." -- Jonathan Winters </p>

	        </div>
	      </div>
	    </div></div>
	    <div class="col-1-2"><div class="wrap-col">
	      <div class="block-2">
	        <div class="col-1-2"><div class="pad03"><img src="../static/images/chengcheng li.jpg" alt=""></div></div>
	        <div class="col-1-2 extra_wrapper">
	          <h4 class="color1"><a href="#">Chengcheng Li</a></h4>
	          <p class="color1">"The dog equally study,the gentle man equally plays" </p>

	        </div>
	      </div>
	    </div></div>
    </div>
    <div class="row">
	    <div class="col-1-2"><div class="wrap-col">
	      <div class="block-2">
	        <div class="col-1-2"><div class="pad03"><img src="../static/images/saba.png" alt=""></div></div>
	        <div class="col-1-2 extra_wrapper">
	          <h4 class="color1"><a href="#">Saba Darbandi</a></h4>
	          <p class="color1">"We cannot solve our problems with same thinking we used when we created them" </p>

	        </div>
	      </div>
	    </div></div>
	    <div class="col-1-2"><div class="wrap-col">
	      <div class="block-2">
	        <div class="col-1-2"><div class="pad03"><img src="../static/images/ahmed.jpg" alt=""></div></div>
	        <div class="col-1-2 extra_wrapper">
	          <h4 class="color1"><a href="#">Ahmed Abdelbary</a></h4>
	          <p class="color1">"To be both a speaker of words and a doer of deeds." </p>

	        </div>
	      </div>
	    </div></div>
    </div>
    </div>
</section>
<!--==============================
              footer_top
=================================-->

<a href="#" id="toTop" class="fa fa-angle-up"></a>
{% endblock %}