{% extends 'base.html' %}

{% block title %}
    main_real_name
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-3.0.3.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
{% endblock %}

{% block style %}
<style>
    .basebox{
        width: auto;
        height: 1200px;
        background-color: #FFEAA7;
        border-radius: 30px ;
        border: 1px solid #FFEAA7;
    }
</style>

{% endblock %}

{% block content %}
    <div class="zerogrid">
        
        <div class="basebox" >

        </div>
    </div>
{% endblock %}